// váriaveis do grid
$cols: 12;
$gutter: 20;
$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

// Box-sizing

*,
*::after,
*::before {
  box-sizing: border-box;
}

//Mixin de media-querie

@mixin responsivo($size) {
  @if $size == desktop {
    @media screen and (min-width: #{$l-device}) {
      @content;
    }
  } @else if $size == tablet {
    @media screen and (min-width: #{$m-device}) and (max-width:#{$l-device - 1}) {
      @content;
    }
  } @else if $size == mobile {
    @media screen and (max-width:#{$m-device - 1}) {
      @content;
    }
  }
}
