.menu {
  margin-top: 120px;
  margin-bottom: 120px;
  @include responsivo(mobile) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.menu-item {
  margin-bottom: 60px;
  h2 {
    @include tipo-2(24);
    margin-bottom: 1em;
  }
  li {
    @include tipo-1(18);
    line-height: em(35, 18);
    span {
      font-family: $fonte-2;
      color: $bege-escuro;
      display: inline-block;
      width: 70px;
      text-align: right;
      margin-right: 10px;
      margin-left: -80px; // 70 de width e 10 de right para alinhar
      @include responsivo(mobile) {
        margin-left: 0px;
        width: auto;
      }
    }
  }
  img {
    border-radius: 50%;
    border: 10px solid $bege-medio;
    position: absolute;
    right: 0px;
    margin-top: 50px;
    @include responsivo(desktop) {
      right: 120px;
    }
    @include responsivo(mobile) {
      width: 120px;
      margin-top: 0px;
    }
  }
}
